<form (submit)="saveMovie()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput />
        <mat-error *ngIf="form.invalid">name is mandatory</mat-error>
    </mat-form-field>

    <h4>Select the cinema in the map</h4>
    <div>
        <app-mapa 
            (selectedCoor) = "coordenadas($event)"
            [coordenadasIniciales]="iniCoor"></app-mapa>
    </div>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Save</button>
        <a mat-stroked-button routerLink='/cines'>Cancel</a>
    </div>
</form>
