<form (submit)="saveMovies()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Titulo*</mat-label>
        <input formControlName="titulo" matInput />
        <mat-error>Mandatory field not complete</mat-error>
    </mat-form-field>
    
    <mat-checkbox formControlName="enCines">En Cines</mat-checkbox>

    <mat-form-field appearance="outline">
        <mat-label>Trailer</mat-label>
        <input formControlName="trailer" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Fecha de lanzamiento</mat-label>
        <input formControlName="fechaLanzamiento" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h4>Select Poster</h4>

    <app-input-img 
    [imageURL]="model?.poster"
    (selectFileImage) = "selectPoster($event)"></app-input-img>

    <h4>Summary</h4>

    <app-input-markdown 
    [markdowncontent]="model.resumen"
    (changeText) = "setSummary($event)" [inicitalText]="'Summary'"></app-input-markdown>

    <h4>Select Generos</h4>
    
    <app-selector-multiple 
    [selected]="selectedGender"
    [notSelected]="notSelectedGender"></app-selector-multiple>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Save</button>
        <a mat-stroked-button routerLink='/peliculas'>Cancel</a>
    </div>
</form>
