<div *ngIf = "!listado">
    <span #cargando><ng-content select="[cargando]"></ng-content></span>
    <span *ngIf = "!cargando.innerHTML.trim()">
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"/>
    </span>
</div>
<div *ngIf = "listado && listado?.length === 0">
    <!--variable de referencia de plantilla-->
    <span #vacio><ng-content select="[vacio]"></ng-content></span>
    <span *ngIf = "!vacio.innerHTML.trim()">
        <p>No hay pelis</p>
    </span>
</div>
<ng-container *ngIf = "listado && listado?.length > 0">
    <!--proyeccion de contenido-->
    <ng-content select="[contenido]"></ng-content>
</ng-container>
