<app-menu></app-menu>
<div class="contenedor">
    <!--<p>Hola Mundo</p> -->
    <!--interpolacion:parametrizacion-->
    <!--<div>
        {{title}}
    </div> 

    <p>pelis en cartelera</p>
    <app-listado-pelicula [peliculas]="peliculasEnCines"></app-listado-pelicula>

    <p>prox pelis</p>
    <app-listado-pelicula [peliculas]="peliculasFuturo"></app-listado-pelicula>
-->

    <!--<input type="file" style="display:none" #cargador>
    <button (click)="cargador.click()">Cargar Archivo</button>
   
    <app-rating (rated)="manejarRated($event)"></app-rating>
    <p>y ahora</p>
    <app-rating [maximoRating]=10></app-rating>
    -->

   <router-outlet></router-outlet>
</div>