<!--pipes idem a c | y condiciones-->
<!--ng for and ng if-->
<app-listado-generico [listado]="peliculas">
    <ng-container vacio>
        <div>holaaaa <b>vacio</b></div>
    </ng-container>
    <ng-container contenido>
        <div *ngFor = "let pelicula of peliculas; let index = index"
            class="pelicula-contenedor">
            <div>Pelicula {{index}}: {{pelicula.titulo}}
                <button style="margin-left: 1rem;" (click)="delete(index)">Remove</button></div>
            <div>{{pelicula.fechaLanzamiento | date:"dd-mm-yyyy" | uppercase}}</div>
            <div>{{pelicula.precio | currency}} </div>
        </div>
    </ng-container>
</app-listado-generico>